# myapp-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - image: registry.cn-hangzhou.aliyuncs.com/go-zhou8304-project/api:v3
        name: myapp
        ports:
        - containerPort: 80